In [4]:
print("Spark Version:", spark.version)
print("Hive Catalog Implementation:", spark.conf.get("spark.sql.catalogImplementation"))
print("Warehouse Directory:", spark.conf.get("spark.sql.warehouse.dir"))

# Check if Hive classes are available
try:
    from pyspark.sql import HiveContext
    print("HiveContext is available")
except ImportError:
    print("HiveContext not available")

Spark Version: 3.3.0
Hive Catalog Implementation: in-memory
Warehouse Directory: file:/home/jupyter/spark-warehouse
HiveContext is available

In [ ]:
spark.stop()
# Create new SparkSession with Hive support
spark = SparkSession.builder \
    .appName("External_table_for_analysis") \
    .master("local[*]") \
    .enableHiveSupport() \
    .config("spark.sql.catalogImplementation", "hive") \
    .config("spark.sql.warehouse.dir", "/home/jupyter/spark-warehouse") \
    .getOrCreate()

# Verify Hive support is now enabled
print("Hive Catalog Implementation:", spark.conf.get("spark.sql.catalogImplementation"))

Hive Catalog Implementation: hive

In [52]:
customer_data_df = spark.read.format("parquet").load("Lending_club_project/cleaned/customers_data_parquet")

In [53]:
customer_data_df.show(2)

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|0d3c568ff6944b11c...|Bookkeeper/Accoun...|        10|      MORTGAGE|      48000.0|           SC|          297xx|            USA|    C|       C5|       Not Verified|               298100.0|      Individual|              null|                     null|2025-08-25 16:11:...|
|170564954b4d02ae9...|  Billing Supervisor|        10|      MORTGAGE|      80000.0|           TX|          774xx|            USA|    C|       C5|       Not Verified|               197904.0|      Individual|              null|                     null|2025-08-25 16:11:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
only showing top 2 rows

In [54]:
spark.sql("CREATE DATABASE lendingclubdata")

AnalysisException: Namespace 'lendingclubdata' already exists

In [ ]:

# Create in default database
spark.sql("""
CREATE EXTERNAL TABLE lendingclubdata.customers(
    member_id string, 
    emp_title string, 
    emp_length int, 
    home_ownership string, 
    annual_income float, 
    address_state string, 
    address_zipcode string, 
    address_country string,
    grade string, 
    sub_grade string, 
    verification_status string, 
    total_high_credit_limit float, 
    application_type string,
    join_annual_income float, 
    verification_status_joint string, 
    ingest_date timestamp
) 
STORED AS PARQUET 
LOCATION 'Lending_club_project/cleaned/customers_data_parquet'
""")

AnalysisException: Table or view 'customers' already exists in database 'lendingclubdata'

In [ ]:
# Here I need to create EXTERNAL TABLE as on above code but as i am working on local and having issues with hive metastore creating table which i can access across my cluster
spark.sql("CREATE DATABASE IF NOT EXISTS lendingclubdata")

spark.sql("""
DROP TABLE IF EXISTS lendingclubdata.customers
""")

spark.sql("""
CREATE TABLE lendingclubdata.customers (
    member_id string, 
    emp_title string, 
    emp_length int, 
    home_ownership string, 
    annual_income float, 
    address_state string, 
    address_zipcode string, 
    address_country string,
    grade string, 
    sub_grade string, 
    verification_status string, 
    total_high_credit_limit float, 
    application_type string,
    join_annual_income float, 
    verification_status_joint string, 
    ingest_date timestamp
) USING PARQUET
LOCATION 'file:////home/jupyter/Lending_club_project/cleaned/customers_data_parquet'
""")

spark.sql("REFRESH TABLE lendingclubdata.customers")

DataFrame[]

In [72]:
spark.sql("SELECT * FROM lendingclubdata.customers").show(2)

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|0d3c568ff6944b11c...|Bookkeeper/Accoun...|        10|      MORTGAGE|      48000.0|           SC|          297xx|            USA|    C|       C5|       Not Verified|               298100.0|      Individual|              null|                     null|2025-08-25 16:11:...|
|170564954b4d02ae9...|  Billing Supervisor|        10|      MORTGAGE|      80000.0|           TX|          774xx|            USA|    C|       C5|       Not Verified|               197904.0|      Individual|              null|                     null|2025-08-25 16:11:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
only showing top 2 rows

In [73]:
spark.sql("DESCRIBE formatted lendingclubdata.customers").show(truncate= False)

+----------------------------+---------------+-------+
|col_name                    |data_type      |comment|
+----------------------------+---------------+-------+
|member_id                   |string         |null   |
|emp_title                   |string         |null   |
|emp_length                  |int            |null   |
|home_ownership              |string         |null   |
|annual_income               |float          |null   |
|address_state               |string         |null   |
|address_zipcode             |string         |null   |
|address_country             |string         |null   |
|grade                       |string         |null   |
|sub_grade                   |string         |null   |
|verification_status         |string         |null   |
|total_high_credit_limit     |float          |null   |
|application_type            |string         |null   |
|join_annual_income          |float          |null   |
|verification_status_joint   |string         |null   |
|ingest_date                 |timestamp      |null   |
|                            |               |       |
|# Detailed Table Information|               |       |
|Database                    |lendingclubdata|       |
|Table                       |customers      |       |
+----------------------------+---------------+-------+
only showing top 20 rows

In [ ]:
#Loans data 
spark.sql("CREATE DATABASE IF NOT EXISTS lendingclubdata")

spark.sql("""
DROP TABLE IF EXISTS lendingclubdata.loans
""")


spark.sql("""
CREATE TABLE lendingclubdata.loans(loan_id string, member_id string, loan_amnt float, funded_amnt float, loan_term_months string,
           interest_rate float, monthly_installment float, issue_date string, loan_status string, 
          loan_purpose string, loan_title string, ingested_time timestamp)
          USING PARQUET LOCATION 'file:////home/jupyter/Lending_club_project/cleaned/loan_data_parquet'
          """)
spark.sql("REFRESH TABLE lendingclubdata.loans")

DataFrame[]

In [75]:
spark.sql("SELECT * FROM lendingclubdata.loans").show(2)

+---------+--------------------+---------+-----------+----------------+-------------+-------------------+----------+-----------+------------------+------------------+--------------------+
|  loan_id|           member_id|loan_amnt|funded_amnt|loan_term_months|interest_rate|monthly_installment|issue_date|loan_status|      loan_purpose|        loan_title|       ingested_time|
+---------+--------------------+---------+-----------+----------------+-------------+-------------------+----------+-----------+------------------+------------------+--------------------+
|130943487|51989e17caab932ca...|   4800.0|     4800.0|            null|        15.04|             166.49|  Mar-2018| Fully Paid|           medical|  Medical expenses|2025-08-26 00:17:...|
|130514193|043da8398b63b2c44...|  40000.0|    40000.0|            null|        14.07|             932.19|  Mar-2018|    Current|debt_consolidation|Debt consolidation|2025-08-26 00:17:...|
+---------+--------------------+---------+-----------+----------------+-------------+-------------------+----------+-----------+------------------+------------------+--------------------+
only showing top 2 rows

In [76]:
#Loan repayments data
spark.sql("CREATE DATABASE IF NOT EXISTS lendingclubdata")

spark.sql("""
DROP TABLE IF EXISTS lendingclubdata.loan_repayments
""")


spark.sql("""
CREATE TABLE lendingclubdata.loan_repayments(loan_id string,total_principal_received float,total_interest_received float,
          total_late_fee_received float,total_payment_received float,last_payment_amount float,last_payment_date string,
          next_payment_date string,ingest_date timestamp) 
          USING PARQUET LOCATION 'file:////home/jupyter/Lending_club_project/cleaned/loan_repayments_parquet' """)

spark.sql("REFRESH TABLE lendingclubdata.loan_repayments")
spark.sql("SELECT * FROM lendingclubdata.loan_repayments").show()

+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
|  loan_id|total_principal_received|total_interest_received|total_late_fee_received|total_payment_received|last_payment_amount|last_payment_date|next_payment_date|         ingest_date|
+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
|113619662|                  7500.0|                 357.79|                    0.0|              7857.791|            6642.78|         Feb-2018|             null|2025-08-26 11:43:...|
|111985436|                15937.81|                3123.29|                    0.0|               19061.1|            1002.33|         Feb-2019|         Apr-2019|2025-08-26 11:43:...|
|113569389|                10106.07|                3470.43|                    0.0|               13576.5|             679.58|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|113855914|                  6000.0|                 894.66|                    0.0|              6894.661|            3840.99|         Nov-2018|             null|2025-08-26 11:43:...|
|113839616|                 2799.97|                2226.58|                    0.0|               5026.55|             251.75|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|113529525|                 2244.02|                 831.44|                    0.0|               3075.46|             147.71|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|113851343|                 4400.78|                1155.75|                    0.0|               5556.53|             292.19|         Feb-2019|         Apr-2019|2025-08-26 11:43:...|
|112729968|                  4230.9|                  721.7|                    0.0|                4952.6|             247.79|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|114073825|                 5525.27|                5220.64|                    0.0|              10745.91|             538.28|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|114171262|                 8329.71|                1906.54|                    0.0|              10236.25|             512.08|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|113684273|                 2526.63|                 867.59|                    0.0|               3394.22|              169.9|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|114023823|                 2143.41|                 264.61|                    0.0|               2408.02|             120.46|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|113307810|                 25000.0|                1280.65|                    0.0|             26280.654|           14692.13|         Feb-2018|             null|2025-08-26 11:43:...|
|113876028|                 16000.0|                1278.58|                    0.0|             17278.582|           15735.78|         Dec-2017|             null|2025-08-26 11:43:...|
|113881466|                  1600.0|                 131.63|                    0.0|             1731.6311|             939.31|         Dec-2018|             null|2025-08-26 11:43:...|
|113206202|                 5741.09|                 1478.7|                    0.0|               7219.79|             335.12|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|113541874|                10230.05|                2833.32|                    0.0|              13063.37|             686.62|         Feb-2019|         Apr-2019|2025-08-26 11:43:...|
|113608833|                 5112.03|                1523.31|                    0.0|               6635.34|              332.1|         Mar-2019|         Apr-2019|2025-08-26 11:43:...|
|113618697|                  9000.0|                1671.37|                    0.0|             10671.366|            5371.32|         Jan-2019|             null|2025-08-26 11:43:...|
|113811106|                 20000.0|                1561.37|                    0.0|              21561.37|           13426.25|         Sep-2018|             null|2025-08-26 11:43:...|
+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [78]:

#loan delinquers
spark.sql("CREATE DATABASE IF NOT EXISTS lendingclubdata")

spark.sql("""
DROP TABLE IF EXISTS lendingclubdata.delinq
""")


spark.sql("""
CREATE TABLE lendingclubdata.delinq(member_id string,delinq_2yrs integer,delinq_amnt float,mths_since_last_delinq integer )
          USING PARQUET LOCATION 'file:////home/jupyter/Lending_club_project/cleaned/loans_defaulters_delinq_parquet' """)
spark.sql("REFRESH TABLE lendingclubdata.delinq")
spark.sql("SELECT * FROM lendingclubdata.delinq").show(2)

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|680fb82b4acb97795...|          0|        0.0|                    24|
|0e0a6f18a90718c2a...|          0|        0.0|                    54|
+--------------------+-----------+-----------+----------------------+
only showing top 2 rows

In [82]:
spark.sql("CREATE DATABASE IF NOT EXISTS lendingclubdata")

spark.sql("""
DROP TABLE IF EXISTS lendingclubdata.loan_defaulters_detail_rec
""")


spark.sql("""
CREATE TABLE lendingclubdata.loan_defaulters_detail_rec(member_id string, pub_rec int, pub_rec_bankruptcies int, inq_last_6mths int) USING PARQUET LOCATION 'file:////home/jupyter/Lending_club_project/cleaned/loans_defaulters_detailed_records_parquet'""")
spark.sql("REFRESH TABLE lendingclubdata.loan_defaulters_detail_rec")
spark.sql("SELECT * FROM lendingclubdata.loan_defaulters_detail_rec").show(2)

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|5c18f413cebed2192...|      1|                   1|             0|
|e98eb408f9863ef59...|      0|                   0|             0|
+--------------------+-------+--------------------+--------------+
only showing top 2 rows

In [88]:
spark.sql("show TABLES FROM lendingclubdata ").show(truncate=False)

+---------------+--------------------------+-----------+
|namespace      |tableName                 |isTemporary|
+---------------+--------------------------+-----------+
|lendingclubdata|customers                 |false      |
|lendingclubdata|delinq                    |false      |
|lendingclubdata|loan_defaulters_detail_rec|false      |
|lendingclubdata|loan_repayments           |false      |
|lendingclubdata|loans                     |false      |
+---------------+--------------------------+-----------+